.DS_Store
build/
node_modules
android/hooks/hyperloop-init.js
android/LICENSE
android/libs/
android/documentation/
android/assets/
android/example/
android/bin
android/java-sources.txt
dist/
xcuserdata
project.xcworkspace
*.tgz
*.zip
*.bak
npm-debug.log
packages/hyperloop-ios-metabase/bin/metabase

# Coverage directory and nyc output
coverage
.nyc_output

junit_report.xml
retirejs.output.json

tmp/
