.DS_Store
build/
node_modules
android/plugins/hyperloop/metabase/hyperloop/
android/plugins/hyperloop/hooks/hyperloop.js
android/LICENSE
android/libs/
android/documentation/
android/assets/
android/example/
android/bin
android/java-sources.txt
dist/
xcuserdata
project.xcworkspace
*.tgz
*.zip
*.bak
npm-debug.log
metabase/ios/bin/metabase
