//
// PLACE ANY BUILD DEFINITIONS IN THIS FILE AND THEY WILL BE
// PICKED UP DURING THE APP BUILD FOR YOUR MODULE
//
// see the following webpage for instructions on the settings
// for this file:
// http://help.apple.com/xcode/mac/8.3/#/dev745c5c974

OTHER_LDFLAGS=$(inherited) $(HYPERLOOP_LDFLAGS)
