// define this is running locally but don't check in your change

TI_SDK_VERSION = 9.3.0.GA

TITANIUM_SDK = /Users/${USER}/Library/Application Support/Titanium/mobilesdk/osx/${TI_SDK_VERSION}
HEADER_SEARCH_PATHS = $(inherited) "$(TITANIUM_SDK)/iphone/include"
FRAMEWORK_SEARCH_PATHS = $(inherited) "$(TITANIUM_SDK)/iphone/Frameworks/**"
